section.py-lg-5.py-4 
    .container 
        .row 
            //- sidebar 
            .col-lg-3
                .list-group
                    a.list-group-item.list-group-item-action.active(href='#' aria-current='true')
                        | Semua Kabupaten / Kota
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Batanghari
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Bungo
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Kerinci
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Merangin
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Muaro Jambi
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Sarolangun
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Tanjung Jabung Barat
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Tanjung Jabung Timur
                    a.list-group-item.list-group-item-action(href='#') Kabupaten Tebo
                    a.list-group-item.list-group-item-action(href='#') Kota Jambi
                    a.list-group-item.list-group-item-action(href='#') Kota Sungai Penuh

            //- content 
            .col-lg-9

                include section_content_hero.pug
                include section_profil_penerima.pug