section#breadcrumb-detail.pt-4
  .container.pt-md-5.pt-5.px-4.px-md-0
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        ol.breadcrumb.overflow-hidden.fs-7.mb-0
          li.breadcrumb-item
            a(href='/')
              i.bi.bi-house-door
          li.breadcrumb-item
            a(href='/jambi') Jambi 
          li.breadcrumb-item.active.text-truncate Semua Kabupaten
