section.pt-3.pb-4 
    .container 
        .row.bg-s100.rounded-3(style="min-height:320px") 
            .col-lg-8 
                p Map Canvas 

            .col-lg-4.bg-s200.p-3
                div
                    .h6 Provinsi
                    h1 Jambi 
                    .h6 Pulau Sumatera

                hr

                p 
                    i / fun fact /

                .outer-funfact.bg-o500.text-white 
                    .inner-funfact.d-flex.align-items-center.justify-content-center
                        span.h3.m-0 17

                p.fs-7 Provinsi Jambi berada di peringkat ke-17 penerima terbanyak Prakerja dari 38 provinsi selama periode 2020-2024 (per Juli 2024)