//- INDEX LANDING PAGES
//- start variable
- var pageActive = ''
- var baseURL = ''
- var contentDescription = {}
- contentDescription.title = "Statistik Program Prakerja - prakerja.go.id"
- contentDescription.description = "Informasi statistik penerima prakerja selama periode 2020 - 2024."
- contentDescription.ogImage = "https://raw.githubusercontent.com/Kartu-Prakerja/laporan-penerima/main/img/img-cover-statistik-prakerja.jpg"

doctype html
html(lang="id" translate="no" page-class="home")
    include pug/includes/html_head.pug
    body
        include pug/includes/analytics_no_script.pug
        include pug/includes/navigation.pug
        main
            include pug/home/section_maps.pug
            include pug/home/section_table_persebaran_penerima.pug
            include pug/home/section_profil_penerima.pug
            //- include pug/home/section_manfaat_prakerja.pug tesssss
            //- include pug/home/section_pipeline_data.pug
            //- include pug/home/section_moda_pelatihan.pug
            //- include pug/home/section_rekening_insentif.pug
            //- include pug/home/section_pipeline_insentif.pug

            //- include pug/includes/section_list_province.pug


        include pug/includes/footer.pug
    include pug/includes/html_foot.pug