section.section-course
    .container 
        .row.d-flex.flex-row-reverse
            .col-lg-4.bg-s200.p-4
                div
                    .h6 Kabupaten
                    h1.province-name Memuat Data 
                    .island-name.h6.text-secondary Memuat Data

                hr

                p.text-secondary 
                    i / fun fact /

                .outer-funfact.bg-o500.text-white 
                    .inner-funfact.d-flex.align-items-center.justify-content-center
                        span.h3.m-0.percentage-workforce-percentage 0%
                
                .outer-funfact.bg-b500.text-white 
                    .inner-funfact.d-flex.align-items-center.justify-content-center
                        span.h3.m-0.percentage-productive-percentage 0%

                p.fs-7.mt-2.narasi Memuat Data
                
            .col-lg-8.bg-s100.p-4(style="min-height:420px") 
                #maps-regency

            