section.section-course.py-3.py-lg-4
    .container.px-4.px-md-0
        .row.text-center
            h4.mb-4.custom-rfs-h4 Profil Penerima

            .col-lg-6.d-flex.flex-column
                .border.p-4.d-flex.rounded-3.gap-3.mb-4.h-100.align-items-center
                    img(src="../img/img-people.svg", alt="")
                    div.text-start.border-end.pe-4.me-4
                        h6#total-penerima-sk.h1.text-primary 0
                        p.mb-0 Total <b>SK Penetapan</b> Program
                    div.text-start
                        h6#total-penerima.h1.text-primary 0
                        p.mb-0 Total <b>Penerima Aktif</b> Program

                .border.p-4.d-flex.rounded-3.mb-4.bg-map-indonesia.h-100.align-items-center
                    div.text-start
                        h6.h1.text-primary 100%
                        p.mb-0 Mencakup seluruh wilayah kecamatan di Kabupaten/Kota <b class="province-name"></b>.

            .col-lg-6.mb-4
                .border.p-3.w-100.rounded-3
                    h5.mb-3 Jenis Kelamin
                    //- Chart jenis kelamin
                    div#gender(style="height:300px")
                    //- span.skeleton-box.w-100.rounded(style="height:300px")

            .col-lg-6
                .border.p-3.w-100.rounded-3
                    h5.mb-3 Umur
                    //- Chart Umur
                    div#age(style="height:300px")
                        //- span.skeleton-box.w-100.rounded(style="height:300px")

            .col-lg-6
                .border.p-3.w-100.rounded-3
                    h5.mb-3 Pendidikan Terakhir
                    //- Chart Pendidikan Terakhir
                    div#lastEdu(style="height:300px")
                        //- span.skeleton-box.w-100.rounded(style="height:300px")

