section.section-course.py-4.pt-lg-5
    .container.px-4.px-md-0
        .row.text-center
            h4.custom-rfs-h4 Persebaran Penerima
            p Data berasal dari seluruh Indonesia tahun 2020-2024 dengan skema Semi Bansos dan Skema Normal (Gelombang 1-69).
            .overflow-x-scroll
                table#tablePersebaran.table.table-hover.fs-7.my-4.display.dataTable
                    thead
                        tr
                            th(rowspan="2") Kecamatan
                            th(colspan="2") 2020
                            th(colspan="2") 2021
                            th(colspan="2") 2022
                            th(colspan="2") 2023
                            th(colspan="2") 2024

                        tr
                            td SK Penetapan      
                            td Aktif

                            td SK Penetapan      
                            td Aktif 

                            td SK Penetapan      
                            td Aktif 

                            td SK Penetapan      
                            td Aktif 

                            td SK Penetapan      
                            td Aktif  

                        tbody(rowspan="1" colspan="11")