section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        //- Pipeline 1 
        .row
            .col-6.p-3.pipeline.rounded-bottom-right.bg-b800
                .d-flex.align-items-center.justify-content-center.h-100
                    div.text-center.text-white
                        h6.text-white Total Insentif 
                        p yang dibagikan ke 17,012,345 penerima tahun 2020-2024
                        h4.text-white.display-5 41,4 triliun

            .col-6.p-3.bg-pipeline.pipeline.rounded-bottom-left(style="background-image: url('img/img-bg-lp-1.webp');")
                

        //- Pipeline 2 
        .row
            .col-6.p-3.bg-pipeline.pipeline.rounded-top-right(style="background-image: url('img/img-bg-pelatihan.webp');")


            .col-6.py-5.bg-b500.pipeline.text-white.rounded-top-left.p-4
                h6.text-white Penggunaan Insentif Oleh Penerima

                .row
                    .col-12.mb-3
                        .stick-list.d-flex
                            .stick-number 1
                            div.px-2
                                span Membeli pelatihan di luar Prakerja

                    .col-12.mb-3
                        .stick-list.d-flex
                            .stick-number 2
                            div.px-2
                                span Melakukan kegiatan penunjang belajar lain

                    .col-12.mb-3
                        .stick-list.d-flex
                            .stick-number 3
                            div.px-2
                                span Membeli keperluan pribadi

                    .col-12.mb-3
                        .stick-list.d-flex
                            .stick-number 4
                            div.px-2
                                span Sebagai modal usaha

                    .col-12.mb-3
                        .stick-list.d-flex
                            .stick-number 5
                            div.px-2
                                span Untuk membeli paket data / internet
                

