section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row.text-center
            h4.mb-3 Lembaga Pelatihan
            .col-lg-6.border.rounded-3.p-4.pb-0.ellipse
                .h5.fw-bold 4 Pilihan Moda Pelatihan
                p.p-1.text-secondary Moda pelatihan yang dapat dipilih penerima Prakerja :
                img.mw-100(src="../img/phone.webp", alt="")