section.section-course.py-3.py-lg-5
    .container
        .row.text-center
            h4.mb-3.custom-rfs-h4 Inklusivitas
            .col-lg-3.img-pmi.rounded-start-3.d-flex.align-items-end.p-3.text-start
                div
                    h4.display-4.text-white 3%
                    h5.text-white Purna PMI
            .col-lg-3.img-desil.d-flex.align-items-end.p-3.text-start
                div
                    h4.display-4.text-white 10%
                    h5.text-white Purna Desil 1
            .col-lg-3.img-difabel.d-flex.align-items-end.p-3.text-start
                div
                    h4.display-4.text-white 3%
                    h5.text-white Purna Difabel
            .col-lg-3.img-perdesaan.rounded-end-3.d-flex.align-items-end.p-3.text-start
                div
                    h4.display-4.text-white 65%
                    h5.text-white Purna Perdesaan
