section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row
            .col-12
                h5.mb-4.text-center Jumlah Pelatihan Berdasarkan Moda Yang Dipilih Penerima
            .col-lg-6.mb-4
                .border.rounded-3.p-3
                    #course-preference(style="height:300px")

            .col-lg-6.mb-4 
                .row#course-preference-numbers
                    .col-12.mb-lg-4.mb-3
                        .border.p-3.d-flex.gap-3.rounded.bg-white
                            div 
                                i.bi.bi-view-list.fs-3.text-primary
                            div 
                                h5#total-course.fs-3 0
                                p.m-0 Total Pelatihan
                    .col-lg-4.mb-3
                        .border.p-3.d-flex.gap-3.rounded.h-100.bg-white
                            div 
                                i.bi.bi-person-video2.fs-4.text-primary
                            div 
                                h5#webinar-course.fs-4 0
                                p.m-0 Webinar
                    .col-lg-4.mb-3
                        .border.p-3.d-flex.gap-3.rounded.h-100.bg-white
                            div 
                                i.bi.bi-person-video3.fs-4.text-primary
                            div 
                                h5#spl-course.fs-4 0
                                p.m-0 Pembelajaran Mandiri
                    .col-lg-4.mb-3
                        .border.p-3.d-flex.gap-3.rounded.h-100.bg-white
                            div 
                                i.bi.bi-easel2.fs-4.text-primary
                            div 
                                h5#luring-course.fs-4 0
                                p.m-0 Luring

section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row
            .col-lg-12.mb-4
                h5.mb-3.text-center Jumlah Peserta Per Kategori Pelatihan
                div#course-category(style="height:1000px")
                //- span.skeleton-box.w-100.rounded(style="height:300px")

            //- .col-lg-12.mb-4
                h5.mb-4.text-center 10 Kategori Pilihan Paling Diminati
                #course-category-list.row