section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row.text-center
            .col-12
                h4.mb-3.custom-rfs-h4 Lembaga Pelatihan
            .col-lg-6.mb-4
                .border.rounded-3.p-3
                    //- chart total lembaga pelatihan
                    h5.mb-4 Total Lembaga Pelatihan
                    div#course-provider(style="height:300px")
                    //- span.skeleton-box.w-100.rounded(style="height:300px")
         
            .col-lg-6.mb-4
                .border.rounded-3.p-3
                    //- Chart total jumlah //
                    h5.mb-4 Total Jumlah Pelatihan
                    div#courses(style="height:300px")
                    //- span.skeleton-box.w-100.rounded(style="height:300px")