section.py-5
    .container
        h4.text-center.mb-4 Moda Pelatihan

        .row 
            .col-lg-6 
                span.skeleton-box.w-100.rounded(style="height:200px")

            .col-lg-6
                div.skeleton-box.w-100.rounded(style="height:200px")
