section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row.text-center
            .col-12
                h4.mb-3.custom-rfs-h4 Lembaga Pelatihan
            .col-lg-6.mb-4
                .border.rounded-3.p-3
                    //- chart total lembaga pelatihan
                    h5.mb-4 Total Lembaga Pelatihan
                    div#course-provider(style="height:300px")
                    //- span.skeleton-box.w-100.rounded(style="height:300px")
         
            .col-lg-6.mb-4
                .border.rounded-3.p-3
                    //- Chart total jumlah //
                    h5.mb-4 Total Jumlah Pelatihan
                    div#courses(style="height:300px")
                    //- span.skeleton-box.w-100.rounded(style="height:300px")
            
            .col-lg-6.mb-4
                .border.rounded-3.p-3.pb-0
                    h5.mb-4 4 Pilihan Moda Pelatihan
                    p.p-1.text-secondary Moda pelatihan yang dapat dipilih penerima Prakerja :
                    img.mw-100(src="../img/phone.webp", alt="")
  
            .col-lg-6.mb-4
                .border.rounded-3.p-3
                    //- Chart total jumlah //
                    h5.mb-4 Moda Pelatihan
                    span.skeleton-box.w-100.rounded(style="height:300px")

            .col-lg-12.mb-4
                h5.my-4 Kategori Pelatihan Terbanyak
                span.skeleton-box.w-100.rounded(style="height:300px")

            .col-lg-12.mb-4
                h5.mb-4 Kategori Pilihan Paling Diminati
                .row.px-3
                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-shop.mb-3.fs-1.text-primary
                        h6 Penjualan & Pemasaran

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-luggage.mb-3.fs-1.text-primary
                        h6 Gaya Hidup

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-cup-straw.mb-3.fs-1.text-primary
                        h6 Makanan dan Minuman

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-diagram-2.mb-3.fs-1.text-primary
                        h6 Manajemen

                    .col-12.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-wrench-adjustable-circle.mb-3.fs-1.text-primary
                        h6 Teknik

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-layers.mb-3.fs-1.text-primary
                        h6 Ritel/Perdagangan

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-tools.mb-3.fs-1.text-primary
                        h6 Pemeliharaan, Perbaikan, Servis

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-car-front.mb-3.fs-1.text-primary
                        h6 Otomotif

                    .col-6.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-water.mb-3.fs-1.text-primary
                        h6 Perikanan

                    .col-12.col-lg-20.col-md-6.p-4.align-items-end.p-3.text-start
                        i.bi.bi-boxes.mb-3.fs-1.text-primary
                        h6 Operasi, Gudang