section.section-hero
    h1.main-heading.h3 
        | Statistik Penerima 
        span Prakerja 
        | 2020 - 2024
    #maps-indonesia.container-fluid
    span.scroll-hint
        i.bi.bi-arrow-left 
        span.fs-7.ms-2 Scroll
    //- .mouse 
    //-     .scoll