section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row.text-center
            h4.mb-4 Insentif

            .col-lg-12.mb-4
                //- Chart
                div#rekeningPenerimaanInsentif
                    h6 Rekening Penerimaan Insentif
                    span.skeleton-box.w-100.rounded(style="height:300px")
            
            .col-lg-12.mb-4
                h6 Pemanfaatan Insentif
                .row.d-flex.justify-content-center
                    .col-lg-2.col-md-6.bg-b800
                        img(src="img/img-bowl-food.svg", alt="")
                        h5 88%
                        p Kebutuhan Pokok

                    .col-lg-2.col-md-6.bg-t500
                        img(src="img/img-bowl-food.svg", alt="")
                        h5 88%
                        p Kebutuhan Pokok

                    .col-lg-2.col-md-6.bg-y500
                        img(src="img/img-bowl-food.svg", alt="")
                        h5 88%
                        p Kebutuhan Pokok

                    .col-lg-2.col-md-6.bg-o500
                        img(src="img/img-bowl-food.svg", alt="")
                        h5 88%
                        p Kebutuhan Pokok

                    .col-lg-2.col-md-6.bg-b500
                        img(src="img/img-bowl-food.svg", alt="")
                        h5 88%
                        p Kebutuhan Pokok