section.section-course.py-3.py-lg-5
    .container.px-4.px-md-0
        .row.text-center
            h4.mb-4 Insentif

            .col-lg-12.mb-4
                h5 Rekening Penerimaan Insentif
                //- Chart
                div#rekeningPenerimaanInsentif
                    span.skeleton-box.w-100.rounded(style="height:300px")
            
            .col-lg-12.mb-4
                h5 Pemanfaatan Insentif
                .row.px-3
                    .col-6.col-lg-20.col-md-6.bg-b800.p-4.rounded-lg-start.text-start
                        img.mb-3(src="img/img-bowl-food.svg", alt="")
                        h5.text-white 88%
                        p.text-white.mb-0.fs-7 Kebutuhan Pokok

                    .col-6.col-lg-20.col-md-6.bg-t500.p-4.text-start
                        img.mb-3(src="img/img-money-hand.svg", alt="")
                        h5.text-white 67%
                        p.text-white.mb-0.fs-7 Sebagai Modal Usaha

                    .col-6.col-lg-20.col-md-6.bg-y500.p-4.text-start
                        img.mb-3(src="img/img-wifi.svg", alt="")
                        h5.text-white 57%
                        p.text-white.mb-0.fs-7 Membeli Paket Data / Internet

                    .col-6.col-lg-20.col-md-6.bg-o500.p-4.text-start
                        img.mb-3(src="img/img-online-learning.svg", alt="")
                        h5.text-white 48%
                        p.text-white.mb-0.fs-7 Kegiatan Penunjang Belajar Lain

                    .col-12.col-lg-20.col-md-12.bg-b500.p-4.rounded-lg-end.text-start
                        img.mb-3(src="img/img-external-learning.svg", alt="")
                        h5.text-white 31%
                        p.text-white.mb-0.fs-7 Pembelian Pelatihan di Luar Prakerja

            //- Chart
            .col-lg-12.mb-4
                h5 Manfaat yang dirasakan setelah mengikuti Program Prakerja
                div#rekeningPenerimaanInsentif
                    span.skeleton-box.w-100.rounded(style="height:300px")

            .col-lg-12.mb-4
                h5 Pemanfaatan Insentif
                .row.gap-0.d-flex.align-items-end.px-3
                    .col-lg-3.m-0.p-0
                        .p-4.bg-b600.text-start
                            h5.h1.text-white.pt-md-5 96%
                            p.m-0.text-white Meningkatkan kompetensi

                    .col-lg-3.m-0.p-0
                        .p-4.bg-b500.text-start
                            h5.h1.text-white.pt-md-4 95%
                            p.m-0.text-white Meningkatkan produktivitas kerja

                    .col-lg-3.m-0.p-0
                        .p-4.bg-b400.text-start
                            h5.h1.text-white.pt-md-3 94%
                            p.m-0.text-white Meningkatkan daya saing kerja

                    .col-lg-3.m-0.p-0
                        .p-4.bg-b300.text-start
                            h5.h1.text-white.pt-md-2 92%
                            p.m-0.text-white Mendorong kewirausahaan

        