section.section-course
    .container.py-3.py-lg-5.px-4.px-md-0
        .row 
            h4 Persebaran Penerima
            p Data berasal dari seluruh Indonesia tahun 2020-2024 dengan skema Semi Bansos dan Skema Normal (Gelombang 1-69).
    .container-fluid.containe-lg.position-relative
            .container
                .row.pipe-line-1
                    .col-6.p-3
                        span.display-5 18,887,737
                        p Total Penerima Program

                    .col-6.p-3
                        span.display-5 Hellow World

    .container-fluid.containe-lg.position-relative
            .container
                .row.pipe-line-2
                    .col-12.p-3
                        h4 Persebaran Penerima
                    .col-6.p-3
                        span.display-5 18,887,737
                        p Total Penerima Program

                    .col-6.p-3
                        span.display-5 Hellow World

    .container-fluid.containe-lg.position-relative
            .container
                .row.pipe-line-2
                    .col-10.p-3
                        span.display-5 18,887,737
                        p Total Penerima Program