//- INDEX LANDING PAGES
//- start variable
- var pageActive = ''
- var baseURL = '../'
- var contentDescription = {}
- contentDescription.title = "Provinsi ABC - prakerja.go.id"
- contentDescription.description = "Informasi statistik penerima prakerja selama periode 2020 - 2024."
- contentDescription.ogImage = "https://raw.githubusercontent.com/Kartu-Prakerja/laporan-penerima/main/img/img-cover-statistik-prakerja.jpg"

doctype html
html(lang="id" translate="no" page-class="home")
    include ../pug/includes/html_head.pug
    body
        include ../pug/includes/analytics_no_script.pug
        include ../pug/includes/navigation.pug
        main

            include ../pug/provinsi/section_breadcrumbs.pug
            include ../pug/provinsi/section_main_content.pug

            //- .container.py-lg-5.py-4
            //-     //- sidebar nav
            //-     aside.cody-sidebar.outline
            //-         include ../pug/provinsi/section_sidebar.pug

            //-     //- main content
            //-     article.cody-content.outline
            //-         include ../pug/provinsi/section_content_hero.pug

        include ../pug/includes/footer.pug
    include ../pug/includes/html_foot.pug