section.py-5
    .container
        h4.text-center.mb-4 Profil Penerima

        .row 
            .col-lg-4 
                span.skeleton-box.w-100.rounded(style="height:200px")

            .col-lg-4 
                div.skeleton-box.w-100.rounded(style="height:200px")

            .col-lg-4 
                div.skeleton-box.w-100.rounded(style="height:200px")