section.py-5
    .container
        h4.text-center.mb-4 Manfaat yang dirasakan setelah mengikuti Program Prakerja
        .row.d-flex.justify-content-center
            .col-lg-10 
                span.skeleton-box.w-100.rounded(style="height:200px")